#page-2 { 
  background: url(https://vfan-phinf.pstatic.net/a/30c2j6/4_2eiUd018svcvoodq7w5iggi_a251hv.jpg?type=e1920);
  font-family: font-family: 'Playfair Display', sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.key {
border: .2rem solid #4948D4;
border-radius: .5rem;
margin: 1rem; /*space between items */
font-size: 1.5rem;
padding: 1rem .5rem;
transition: all 0.5s ease;
width: 10rem;
text-align: center;
/* color: white; */
background: rgba(0,0,0,0.4);
text-shadow: 0 0 .5rem #5F2D88;
}

.playing {
transform: scale(1.1);
border-color: #ffc600;
box-shadow: 0 0 1rem #ffc600;
}

kbd {
display: block;
font-size: 2rem;
color: #B676AC;
}

.sound {
/* font-size: 1.4rem; */
font-size: 1.4rem;
text-transform: uppercase;
letter-spacing: .1rem;
color: #B676AC;
}

